@model TaxiDinamica.Web.ViewModels.PartnerServices.PartnerServiceDetailsViewModel
@{
    ViewData["Title"] = "Default";
}
<div class="form-group row">
    <ul>
        <li><strong>Placa</strong>: @Model.PartnerPlaca</li>
        <li><strong>Conductor</strong>: @Model.PartnerDriverName</li>
        <li><strong>Tipo de Servicio</strong>: @Model.ServiceName</li>
        <li><strong>Teléfono del Conductor</strong>: @Model.PartnerDriverContact</li>
    </ul>
</div>