@{
    this.ViewData["Title"] = "Unavailable Partner/Service";
}

<h3>Lo sentimos, no hay cupo para esta hora solicitada.</h3>

<div class="row">
    <div class="col-lg-4 ml-lg-5">
        <div class="button button-large button_1 elements_button mt-4">
            <a asp-area="" asp-controller="Partners" asp-action="Index">
                <span>Buscar en otro lado</span>
            </a>
        </div>
    </div>
</div>