@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de Restablecimiento";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor revisa tu correo para restaurar tu contraseña.
</p>

