@using CeroFilas.Common
@using CeroFilas.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<li><a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
<li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="about">Nosotros</a></li>
<li class="dropdown"><a href="#"><span>Explorar</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
        <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categorías</a></li>
        <li><a asp-area="" asp-controller="Partners" asp-action="Index">Empresas</a></li>
    </ul>
</li>
<li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="contact">Contacto</a></li>
<li><a class="getstarted scrollto" asp-controller="Categories" asp-action="Index">Agendar Cita</a></li>

<partial name="_LoginPartial" />
