@model TaxiDinamica.Web.ViewModels.Partners.PartnersListViewModel
@{
    this.ViewData["Title"] = "Gestión de Taxis";
}

<h3>Bienvenido al Panel de Gestión de Taxis!</h3>
<p>Aquí están los taxis que administras:</p>
<div class="my-2">
    <a class="btn btn-info" asp-area="Manager" asp-controller="Partners" asp-action="AddPartner">Añadir Nuevo
        Taxi</a>
</div>
<br/>
@if (@Model.Partners.Count() == 0)
{
    <div>
        <p> No tienes taxis registrados</p>
    </div>
}
else
{
    @foreach (var Partner in Model.Partners)
    {
        <a asp-area="Manager" asp-controller="Partners" asp-action="Details" asp-route-id="@Partner.Id"
    class="list-group-item list-group-item-action bg-light">@Partner.Placa</a>
    }

}