@using TaxiDinamica.Common
@{
    this.ViewData["Title"] = "Error 404";
}

<div class="row ml-5">
    <div class="col-6">
        <div class="row">
            <div class="col-7">
                <img src="~/img/bug_fixing.svg" class="img-thumbnail" />
            </div>
            <div class="col-5 pt-2">
                <h1>Oops!</h1>
                <h2>404</h2>
                <h3>Pagina no encontrada!</h3>
            </div>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>
