@model CeroFilas.Web.ViewModels.Categories.CategoriesSimpleListViewModel
@{
    this.ViewData["Title"] = "Default";
}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Buscar por Categoría
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var category in Model.Categories)
        {
            <a class="dropdown-item" asp-area="" asp-controller="Partners" asp-action="Index"
            asp-route-sortId="@category.Id">
                @category.Name (@category.PartnersCount)
            </a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="Partners" asp-action="Index">All Partners</a>
    </div>
</div>

<hr class="bg-dark m-4" style="height: 6px;" />
